page-sightings {

}

ion-item.item-list {
    margin-top: 15px;
    padding: 0px;
}

.size-item{
  font-size: 0.7em;
  font-weight: lighter;
}

.row-item{
  background-color: #5a5a8c;
}

.head-item{
  color: #fff !important;
}
